[Desktop Entry]
Name=FocusLock
Comment=Lock a window and stay focused
Exec=focuslock
Icon=focuslock
Terminal=false
Type=Application
Categories=Utility;
Keywords=focus;lock;productivity;
